@charset "UTF-8";
body {
	text-align: center;
}

#board {
	display: grid;
	width: 80%;
	height: 600px;
/*	border: 2px black solid;*/
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	margin: 30px 10% 10px 10%;
}

.square {
	background-color: beige;
  	color: black;
/*  	border-radius: 5px;*/
/*  	border: 2px blue solid;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

#s0, #s1, #s3, #s4 {
	border-bottom: 10px black solid;
	border-right: 10px black solid;
}

#s2, #s5 {
	border-bottom: 10px black solid;
}

#s6, #s7 {
	border-right: 10px black solid;
}


.inSquare {
	height: 100%;
  	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: barber-fill, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 100px;
}

#message {
	color: black;
	font-size: 20px;
	text-align: center;
}

button {
	color: black;
}
