@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid: 
		'header header header header header'
		'p1score board board board p2score'
		'p1score board board board p2score'
		'p1score board board board p2score'
		'p1score message message message p2score'
		'footer footer footer footer footer';
	min-width: 100%;
}

#header {
	grid-area: header;
	width: 64%;
	margin: 15px 18%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px black solid;
/*	background-color: #0468BF;*/
}

#p1score {
	grid-area: p1score;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	height: 50%;
	margin: 0 10%;
	background-color: #F2EFEB;
}

#p2score {
	grid-area: p2score;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	height: 50%;
	margin: 0 10%;
	background-color: #F2EFEB;
}

#board {
	grid-area: board;
	display: grid;
	grid: 
		's0 s3 s6'
		's1 s4 s7'
		's2 s5 s8';
	height: 600px;
/*	border: 2px black solid;*/
}

.square {
	background-color: beige;
  	color: black;
/*  	border-radius: 5px;*/
/*  	border: 2px blue solid;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

#s0, #s1, #s3, #s4 {
	border-bottom: 10px black solid;
	border-right: 10px black solid;
}

#s2, #s5 {
	border-bottom: 10px black solid;
}

#s6, #s7 {
	border-right: 10px black solid;
}


.inSquare {
	height: 90%;
  	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: barber-fill, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 150px;
}

#messages {
	grid-area: message;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin: 10px 0;
	border: 3px black solid;
/*
	font-family: ccsignlanguage, sans-serif;
	font-weight: 400;
	font-style: italic;
*/
/*	text-shadow: 2px 2px 0 black;*/
	color: #D92B04;
}

#message {
	color: black;
	font-size: 20px;
	text-align: center;
}

#footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-content: center;
}

#restartButton {
/*	background-color: #FA5B0F;*/
	border: 3px black solid;
	border-radius: 5px;
	width: 150px;
	height: 50px;
	font-family: uppercut-angle, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
/*	text-shadow: 2px 2px 0 #F2CB05;*/
}
